body {
  width: 100%;
  font-weight: 600;
  color: #495057;
}

a, button {
  cursor: pointer;
}

input:focus, input:active {
  border-color: #ffffe6 !important;
}

.block-menu, .block-center {
  transition: 0.6s !important;
}

.btn-warning {
  border-color: #dbdbdb;
  background-color: #ffffe6;
}

.btn-warning:hover {
  border-color: #dbdbdb;
  background-color: #ffeea0;
}

.dropdown-menu {
  transition: 0s !important;
}

/* GENERAL */
input:focus, input:active, select:focus, select:active, button:focus, button:active {
  outline: none;
  border-color: silver !important;
  box-shadow:none !important;
}

/* MENU */
.block-menu {
  -moz-box-shadow: 6px 6px 12px #aaa;
  -webkit-box-shadow: 6px 6px 12px #797979;
  box-shadow: 6px 6px 12px #d8d8d8;
}

.menu-link {
  font-size: 18px;
  font-weight: 400;
  color: silver;
}

.menu-link:hover {
  font-size: 18px;
  font-weight: 400;
  color: black;
  background-color: #ffffe6;
}

/* NAV-PAGE */
.nav-page a:hover {
  color: #797979 !important;
}

/* REACT TABLE */
.rt-tr:hover {
  background-color: #ffffe6 !important;
}

/* EDITOR */

.tinymce {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.mce-primary {
  border: 1px solid #969696 !important;
  background-color: #ffffe6 !important;
}

.mce-primary button {
  color: rgb(75, 75, 75) !important;
}