.page-login h1, .page-login h6 {
  color: white;
}

.page-login h1 {
  font-size: 3em;
}

.page-login input {
  background-color: silver;
}

.page-login .btn {
  border-radius: 50%;
  height: 70px;
  border: 4px solid #3f3f3f;
  background-color: silver;
  font-weight: 500;
}

.page-login .btn:hover {
  border-radius: 50%;
  height: 70px;
  border: 4px solid #3f3f3f;
  background-color: #af9626;
  font-weight: 500;
}

// notif error login
.Toastify__toast--error {
  background: #F08080 !important;

  .Toastify__toast-body {
    // margin-left: 15px;
  }
}

.login {
  position: relative;
  margin: 80px auto;
  width: 400px;
  padding-right: 32px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.login p {
  margin: 0 0 10px;
}

.login input, .login button, .login label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login input[type=text], .login input[type=password] {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

.login input[type=text]:focus, .login input[type=password]:focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
}

.login-submit {
  position: absolute;
  top: 12px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 32px;
}
.login-submit:before, .login-submit:after {
  content: '';
  z-index: 1;
  position: absolute;
}
.login-submit:before {
  top: 28px;
  left: -4px;
  width: 4px;
  height: 10px;
}
.login-submit:after {
  top: -4px;
  bottom: -4px;
  right: -4px;
  width: 36px;
}

.login-button {
  position: relative;
  z-index: 2;
  width: 48px;
  height: 48px;
  padding: 0 0 48px;
  /* Fix wrong positioning in Firefox 9 & older (bug 450418) */
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  /* Must use another pseudo element for the gradient background because Webkit */
  /* clips the background incorrectly inside elements with a border-radius.     */
}

.login-button:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #b4a204;
  border-radius: 24px;
  background-image: -webkit-linear-gradient(top, #fff065, #bbaf43);
  background-image: -moz-linear-gradient(top, #fff065, #bbaf43);
  background-image: -o-linear-gradient(top, #fff065, #bbaf43);
  background-image: linear-gradient(to bottom, #fff065, #bbaf43);

}

.login-button:active:before {
  background: #fff;
  background-image: -webkit-linear-gradient(top, #bbaf43, #fff065);
  background-image: -moz-linear-gradient(top, #bbaf43, #fff065);
  background-image: -o-linear-gradient(top, #bbaf43, #fff065);
  background-image: linear-gradient(to bottom, #bbaf43, #fff065);
}

.login-button:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 19px;
}